doctype html
html
    head
        title="Express log"
    body
        h1 Logowanie się powiodło :)
        p Tiramisu topping tiramisu. Cake cotton candy cheesecake chocolate. Dragée croissant cotton candy danish topping. Sweet cheesecake jelly beans caramels ice cream marzipan. Apple pie tiramisu dragée bear claw topping soufflé gummi bears cake tiramisu. Tootsie roll cupcake cake sweet roll cotton candy jujubes jelly beans. Cheesecake soufflé cookie chocolate. Cotton candy jujubes gingerbread tart lollipop. Pastry cake muffin. Cheesecake chocolate cake pie croissant topping dessert icing lemon drops icing. Jelly lollipop biscuit. Pastry jelly-o marzipan topping chocolate bar jujubes tiramisu cake. Lemon drops carrot cake dessert cheesecake cookie chocolate bar cheesecake halvah. Pastry cookie icing jelly cake icing.